    /* Genral Styles */
    
     :root {
        --dark-color: #19283f;
        --green-color: #33d1cc;
        --red-color: #ff5130;
        --yello-color: #ffc400;
        --section-color: #eff7fa;
    }
    
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body,
    button,
    input,
    textarea {
        font-family: "Poppins", sans-serif;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        list-style: none;
    }
    /* End Generals     */
    /* Start Navbar  */
    
    .container-fluid {
        width: 80% !important;
    }
    
    .container-fluid img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    
    .navbar {
        background-color: var(--dark-color);
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: white !important;
    }
    
    .navbar-light .navbar-nav .nav-link:hover {
        color: blue !important;
    }
    
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none !important;
    }
    
    .search {
        position: relative;
        margin: 0 30px;
    }
    
    .search::before {
        content: '';
        position: absolute;
        width: 10%;
        height: 90%;
        background-color: rgb(167, 42, 42);
        left: -13px;
    }
    /* End NavBar  */
    /* Start landing  */
    
    .landing {
        background-color: var(--dark-color);
        height: calc(100vh - 72px);
    }
    /* End landing  */
    /* Start Features  */
    
    .main-title img {
        width: 100px;
        height: 100px;
    }
    
    .main-title {
        position: relative;
        margin-top: 30px;
    }
    
    .main-title h3 {
        color: var(--yello-color);
    }
    
    .main-title .underline {
        content: '';
        position: absolute;
        width: 110px;
        height: 2px;
        background-color: var(--green-color);
        left: 50%;
        transform: translateX(-50%);
    }
    
    .icons {
        height: 200px;
        margin-top: 49px;
    }
    
    .features .icons .number {
        position: absolute;
        font-size: 200px;
        color: var(--section-color);
        left: 50%;
        transform: translateX(-50%);
    }
    
    .features .icons .icon {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 30px;
        color: var(--green-color);
    }
    
    .features .feat h4 {
        color: var(--yello-color);
    }
    /* EndFeatures  */
    /* Start Work  */
    
    .ourwork {
        margin: 40px 0;
        padding: 30px 0;
        background-color: var(--section-color);
    }
    
    .ourwork ul li.active {
        color: var(--yello-color);
    }
    
    .ourwork ul li {
        padding: 6px 20px;
        margin: 0 20px;
    }
    
    .ourwork ul li:not(.active):hover {
        color: var(--red-color);
    }
    
    .ourwork .box {
        width: 200px;
        height: 160px;
        overflow: hidden;
        position: relative;
    }
    
    .ourwork .box img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    
    .ourwork .box::before {
        content: attr(data-work);
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 30px;
        font-weight: bold;
        transition: .3s;
        transform: translateX(-100%);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--green-color);
        opacity: .6;
    }
    
    .ourwork .box:hover::before {
        transform: translateX(0%);
    }
    
    .more {
        color: var(--yello-color) !important;
    }
    /* Start Work  */
    /* Start  Stuff  */
    
    .stuff .desc {
        padding: 30px 0;
        margin: auto;
    }
    
    .stuff .image {}
    
    .stuff .image img {
        width: 500px;
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* End  Stuff  */
    /* Start Team  */
    
    .team {
        background-color: var(--section-color);
        padding: 30px 0;
    }
    
    .team h3 {
        color: var(--yello-color);
    }
    
    .team-title {
        padding: 10px;
        background-color: var(--green-color);
    }
    
    .team .quote {
        padding: 10px;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    /* End  Team  */
    
    .start-project {
        background-color: var(--dark-color);
    }
    
    .start-project h2 {
        color: white;
    }
    
    .start-project .btn {
        color: var(--yello-color);
        background-color: var(--red-color);
        border-radius: 30px;
        margin: 30px 0;
    }
    /* Start  Blog  */
    
    .blog .btn {
        background-color: var(--red-color);
        color: var(--yello-color);
    }
    /* End   Blog  */
    /* Start Footer */
    
    .footer {
        background-color: var(--dark-color);
    }
    

    .footer .info img {
        width: 100px;
        height: 100px;
    }

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 120, 170);
    width: 30px;
    height: 30px;
    border-radius: 50% ;

}



.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 120, 170);
    width: 30px;
    height: 30px;
    border-radius: 50% ;

}



.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 62, 62);
    width: 30px;
    height: 30px;
    border-radius: 50% ;

}



.twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 120, 170);
    width: 30px;
    height: 30px;
    border-radius: 50% ;

}









    /* End Footer */



